body {
	background:#E5E5E5;
	}
#main {
	width: 800px;
	clear: both;
	background-color:white; 
	margin: 0px auto;
	}

#main h1 {
	text-align: center;
	}

#footer {
    clear: both;
	}

#login {
    text-align: right;
	margin: 0 25px;
	}

#results {
	color: red;
	text-align: center;
	}

#but {
	text-align: right;
	}

label {
	display: block;
	margin: 0 0 0 20px;
	font-size: 13px;
	}

.columns div {
	float: left; 
	width: 366px; 
	padding: 0 10px;
	margin: 10px 7px;
	vertical-align: top;
	}

.columns b {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	}

.errorlist {
	color: red;
	}
span.img {
	width: 340px;
	height: 385px;
	float: none;
	background: #E5E5E5;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	}
.errorlist {
	color: red;
	}

div.img {
	width: 340px;
	height: 385px;
	float: none;
	background: #E5E5E5;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	}

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
	}

.datetimeshortcuts a {
	font-size: 11px;
	}
