<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/REC-html40/loose.dtd">

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" /></link>{% endblock %}
</head>
<body>
<div id="main">
    {% block caption %}{% endblock %}
    {% block login %}
    	<div id="login">
        	{% load custom_tags %}
        	{% if user.is_authenticated %}
            	{{ user.username }} you can <a href="{% url auth_logout %}">logout</a>
            	{% edit_link user %}
        	{% else %}
    			<a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a>
    		{% endif %}
    		{% block extralogin %}{% endblock %}
    	</div>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
</html>
