{% extends "base.html" %}

{% block title %}Contacts page{% endblock %}
{% block css %}
	{{ block.super }}
	{% if edit %}
		<script type="text/javascript">
    		window.__admin_media_prefix__ = "{{ MEDIA_URL }}";
		</script>
		{{ form.media }}
		{{ edit }}
	{% endif %}
{% endblock %}

{% block caption %}<h1>42 Coffee Cups Test Assignment</h1>{% endblock %}

{% block login %}
      <div id="login">
        {% if user.is_authenticated %}
            {{ user.username }} you can <a href="{% url auth_logout %}">logout</a>
            {% if not edit %} 
            	or <a href="{% url edit %}">edit profile</a>
            {% else %}
            	or return to  <a href="{% url home %}">main page</a>
            {% endif %}
        {% else %}
            <a href="{% url auth_login %}">Login</a>
        {% endif %}
      </div>
{% endblock %}

{% block content %}
    {% if edit %}
        <form id="contactForm" method="POST" action="{% url edit %}" enctype="multipart/form-data">
    {% endif %}
	{% include "persons/person_form.html" %}
 	{% if edit %}
 		<div id="results"></div>
        <input type="submit" value="Save">
        <a href="{% url home %}">Cancel</a>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
	<div id="footer">
        <hr>
        <a href="{% url requests %}">requests</a>.<br>
        <p>Debug options in this project: {{ settings.DEBUG }}</p>
        <p>This project root: {{ settings.ROOT_URLCONF }}</p>
	</div>
{% endblock %}