{% extends "base.html" %}

{% block title %}Contacts page{% endblock %}
{% block css %}
	{{ block.super }}
	{% if edit %}
		<script type="text/javascript">
    		window.__admin_media_prefix__ = "{{ MEDIA_URL }}";
		</script>
		{{ form.media }}
	{% endif %}
{% endblock %}

{% block caption %}<h1>42 Coffee Cups Test Assignment</h1>{% endblock %}

{% block extralogin %}
<br>
        {% if not edit %} 
        	or <a href="{% url edit %}">edit person info</a>
        {% else %}
        	or return to  <a href="{% url home %}">main page</a>
        {% endif %}
{% endblock %}

{% block content %}
    {% if edit %}
        <form id="contactForm" method="POST" action="{% url edit %}" enctype="multipart/form-data">
        {% csrf_token %}
	{% include "persons/person_form.html" %}
	{% else %}
	{% include "persons/person_text.html" %}
	{% endif %}
 	{% if edit %}
 		<div id="results"></div>
        <input type="submit" value="Save">
        <a href="{% url home %}">Cancel</a>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
	<div id="footer">
        <hr>
        <a href="{% url requests %}">requests</a>.<br>
        <p>Debug options in this project: {{ settings.DEBUG }}</p>
        <p>This project root: {{ settings.ROOT_URLCONF }}</p>
	</div>
{% endblock %}
