
<table id='requests' class="tablesorter">
<thead>
<tr>
    {% for column in table.columns %}
    <th>{{ column }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for row in table.rows %}

    {% for value in row %}
    	{% if forloop.first %}
    		<tr id={{ value }}>
			<td><input class="action-select" type="checkbox" name="_selected_action" value={{ value }}></td>
		{% else %}
			{% if forloop.last %}
        		<td class='priority'>{{ value }}</td>
        	{% else %}
        		<td>{{ value }}</td>
        	{% endif %}
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
